<div class="section">
<div class='columns is-centered'>
<div class='column is-4'>
<h1 class='title is-2 has-text-centered'>Sign In</h1>

<%= form_for(:session, url: signin_path, method: 'post') do |f|%>
 <div class='field'>
  <p class='control has-icons-left'>
    <%= f.text_field :name, placeholder: 'Username', class:'input mb-4'%>
    <span class="icon is-small is-left">
      <i class="fa fa-user"></i>
    </span>
  </p>
  <p class='control has-icons-left'>
          <%= f.password_field :password, placeholder:'Password', class:'input mb-4' %>
          <span class='icon is-small is-left'>
            <i class='fa fa-unlock'></i>
          </span>
  </p>
    <%= f.submit 'Signin', class:'button is-success is-pulled-right' %>
 </div>
<%end%>
</div>
</div>
</div>
