<div class="coffee-footer columns bg-coffee">
  <div class="column ml-4">
    <%= link_to root_path do %>
      <h1 class="title is-4 white-color"> PostSpot <span class="midot orange-color">&#183;</span></h1>
    <% end %>
  </div>
  <div class="column mt-3">
    <span class="orange-color">Privacy Policy</span>
    <span class="has-text-white"> &copy; Copyright 2020</span>
    <span class="has-text-white">All right reserved</span>
  </div>
  <div class="column ml-6 mt-3">
    <p class='orange-color'>Developed by
      <a href='https://haroonabdulrazaq.github.io/Portfolio/' target='_blank'>Haroon Abdulrazaq</a>
    </p>

  </div>
</div>

 